* {
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.sign-up-box {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 500px;
    background-color: white;
    }
legend {
    font-size: 35px;
    position: relative;
    top: 50px;
    color: grey;
}
fieldset {
    border: 0;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}
input, button {
    width: 320px;
    height: 55px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
fieldset label {
    display: block;
}
fieldset input {
    padding: 15px;
    margin-bottom: 15px;
    border: solid 2px lightgrey;
    border-radius: 2px;
    font-weight: bold;
    color: grey;
}

button {
    display: block;
    background-color: green;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 2px green;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}
a {
    display: block;
    text-align: center;
    color: grey;
}
p {
    color: white;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}
p a {
    color: white;
    font-weight: bold;
}
.button:hover {
    background-color: darkgreen;
}